<h1>
  {{title}}
</h1>
<div>
	<ul>
		<li>
			<a href="#" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{excat: true}">Shop</a>
		</li>
		<li>
			<a href="#" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{excat: true}">About</a>
		</li>
		<li>
			<a href="#" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{excat: true}">Contact</a>
		</li>
	</ul>
</div>

<router-outlet></router-outlet>

<div>
	<ul>
		<li *ngFor="let item of items">
			<app-image [imageUrl]="item"></app-image>
		</li>
	</ul>
</div>

<div>
	<app-profile></app-profile>
</div>
<div>
	<app-similarList></app-similarList>
</div>